.header {
  position: relative;
  z-index: 401;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  background-image: url(../../assets/images/pattern-bg.png);
  background-position: center;
  background-size: cover;

  @media (max-width: 725px) {
    height: 225px;
  }

  @media (max-width: 540px) {
    height: 320px;
  }
  @media (max-width: 500px) {
    height: 300px;
  }
  @media (max-width: 450px) {
    height: 285px;
  }
  @media (max-width: 425px) {
    height: 270px;
  }
}
