.heading {
  padding: 0 15px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: var(--font-weight-medium);
  text-align: center;
  color: #fff;

  @media (max-width: 540px) {
    font-size: 28px;
  }

  @media (max-width: 305px) {
    font-size: 25px;
  }
}
