.information {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 96%;
  max-width: 1100px;
  margin-top: auto;
  border-radius: 16px;
  background-color: #fff;

  @media (min-width: 950px) {
    min-height: 150px;
  }

  @media (max-width: 540px) {
    width: 92%;
    padding: 15px 0;
  }

  &__list {
    display: flex;

    @media (max-width: 540px) {
      flex-direction: column;
      text-align: center;
    }

    & > * {
      flex-basis: 100%;
      position: relative;

      &:not(:last-child) {
        &::before {
          content: '';
          width: 1px;
          height: 50%;
          position: absolute;
          right: 0;
          background-color: hsl(0, 0%, 85%);
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &__item {
      list-style: none;
      padding: 30px;

      @media (max-width: 900px) {
        padding: 25px;
      }

      @media (max-width: 825px) {
        padding: 22px;
      }

      @media (max-width: 725px) {
        padding: 18px;
      }

      @media (max-width: 625px) {
        padding: 16px;
      }

      @media (max-width: 540px) {
        padding: 13px;
      }

      @media (max-width: 500px) {
        padding: 10px;
      }

      @media (max-width: 450px) {
        padding: 7px;
      }

      &__title {
        font-weight: var(--font-weight-bold);
        font-size: 12px;
        letter-spacing: 2px;
        white-space: nowrap;
        margin-bottom: 10px;
        color: var(--clr-dark-gray);

        @media (max-width: 540px) {
          margin-bottom: 7px;
        }
      }
      &__text {
        font-weight: var(--font-weight-medium);
        font-size: 30px;

        @media (max-width: 1000px) {
          font-size: 25px;
        }

        @media (max-width: 825px) {
          font-size: 22px;
        }

        @media (max-width: 725px) {
          font-size: 19px;
        }

        @media (max-width: 625px) {
          font-size: 17px;
        }

        @media (max-width: 540px) {
          font-size: 22px;
        }

        @media (max-width: 500px) {
          font-size: 19px;
        }

        @media (max-width: 440px) {
          font-size: 17px;
        }
      }
    }
  }
}
